<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Login Page</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/login_style.css">
</head>
<body>
    <div>
        <img src="/static/media/voter login 3.jpg " height="1000px">
    </div>
    <div class="background"></div>
    <form method="post" >
        {% csrf_token %} 
        <h3>Login Here</h3>
        {% csrf_token %} 
        
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="pass">

        <button type="submit">Log In</button>
        <a href="{% url 'signup' %}" >Create an account</a>
    </form>
</body>
</html>
